<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
          <a class="nav-link" href="/listings/new">Share Your Space</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!UserInfo){ %>
          <a class="nav-link" href="/login"><b>Log In</b></a>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <% }else{ %>
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>