.navbar{
    background-color: white;
    height: 5rem;
}

.fa-compass{
    color: red;
    font-size: 2rem;
}

.nav-link{
    color: black !important;
}

.f-info{
    background-color: darkgray;
}

.f-info-socials, .f-info-links, .f-brand {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.f-info-socials i,.f-info-links a{ 
    margin-right: 1rem;
}

.f-info-links a{
    text-decoration: none;
    color: black;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.card-listing{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.row a{
    text-decoration: none !important;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn, .edit-btn{
    background-color: red !important;
    border: none !important;
}

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}